<br>
<section class="profile">
    <div fxFill>
        <section fxLayout fxLayoutAlign="center">
            <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
            <mat-card fxFlex.xs="100%" fxFlex="95%">

                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex fxLayout="row wrap">
                        <mat-form-field fxFill appearance="outline">
                            <mat-label>Buscar por: N° de Expediente </mat-label>
                            <input matInput class="uppercase" [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar por: Nombre, Alias, N° de Expediente, Celular, Teléfono...">
                            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-hint><mat-slide-toggle #showAdvancedFilter (change)="toggleAdvancedFilter(showAdvancedFilter.checked)">Filtro Avanzado</mat-slide-toggle></mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxFlex="none" fxFlex.xs="100" *ngIf="!showAdvancedFilter.checked" [@buttonInOut]>
                        <div fxFlex></div>
                        <section class="search-button">
                            <button mat-raised-button color="accent" (click)="applyFilter()">
                                <mat-icon>search</mat-icon> Buscar
                            </button>
                        </section>
                    </div>
                </div>
                <mat-accordion class="advanced-filter-container">
                    <mat-expansion-panel #advancedFilter  class="advanced-filter" [formGroup]="filterForm">
                        <br>
                        
    
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
    
                            <mat-form-field appearance="fill" fxFlex>
                                <mat-label>Mes de medición: </mat-label>
                                <mat-select formControlName="filter_month_measurement">
                                    <mat-option value="Enero">Enero</mat-option>
                                    <mat-option value="Febrero">Febrero</mat-option>
                                    <mat-option value="Marzo">Marzo</mat-option>
                                    <mat-option value="Abril">Abril</mat-option>
                                    <mat-option value="Mayo">Mayo</mat-option>
                                    <mat-option value="Junio">Junio</mat-option>
                                    <mat-option value="Julio">Julio</mat-option>
                                    <mat-option value="Agosto">Agosto</mat-option>
                                    <mat-option value="Septiembre">Septiembre</mat-option>
                                    <mat-option value="Octubre">Octubre</mat-option>
                                    <mat-option value="Noviembre">Noviembre</mat-option>
                                    <mat-option value="Diciembre">Diciembre</mat-option>
                                </mat-select>
                            </mat-form-field>
    
                        </div>
    
                        <div fxLayout="row wrap">
                            <div fxFlex></div>
                            <div fxFlex="none">
                                <button mat-flat-button (click)="filterForm.reset()">
                                    Limpiar
                                </button>
                            </div>
                            <div fxFlex="none">
                                <button mat-raised-button color="accent" (click)="applyFilter()">
                                    <mat-icon>search</mat-icon> Aplicar
                                </button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom:10px;">

                    <div fxFlex>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip *ngFor="let item of filterChips; let i = index" [disabled]="!item.active" [removable]="true" (removed)="removeFilterChip(item,i)" matTooltip="{{item.tooltip}}" [matTooltipPosition]="'above'">
                                {{item.tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <!-- <button mat-raised-button color="primary" routerLink="/pacientes/nuevo"><mat-icon>add_circle</mat-icon> Agregar Paciente</button> (click)="showAddPacienteDialog()" -->
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="openDetailDialog()" ><mat-icon>add_circle</mat-icon> Nueva Medición</button>

                </div>
                <!-- <section fxLayout="column" fxLayoutAlign="center stretch">
                    <button mat-stroked-button (click)="toggleReportPanel()" [class.button-spinner]="isLoadingPDF" [disabled]="isLoadingPDF">
                        <mat-icon>{{(showReportForm)?'unfold_more':'insert_drive_file'}}</mat-icon> Generar Reporte
                    </button>
                </section> -->
                <div *ngIf="showReportForm || showMyStepper">
                    <!-- <div *ngIf="showReportForm">
                        <section fxLayout="column" fxLayoutAlign="center stretch">
                            <button mat-stroked-button (click)="reportePacientes()" color="info"><mat-icon class="material-icons-outlined">picture_as_pdf</mat-icon> Descargar Archivo PDF</button>
                        </section>
                    </div> -->
                    &nbsp;
                    <div class="my-stepper" *ngIf="showMyStepper">
                        <ng-container *ngFor="let step of stepperConfig.steps; let i = index">
                            <div class="my-step" [class.my-step-active]="step.status == 2" [class.my-step-done]="step.status == 3" [class.my-step-error]="step.status == 0">
                                <mat-icon>{{step.icon}}</mat-icon>
                                <div class="my-step-label">
                                    {{(step.status < 2)?step.label.standBy:((step.status == 2)?step.label.active:step.label.done)}} <mat-progress-bar *ngIf="step.status == 2" mode="indeterminate"></mat-progress-bar>
                                    <small *ngIf="step.status == 0" class="my-step-error-message">{{step.errorMessage}}</small>
                                </div>
                                <mat-icon *ngIf="step.status == 3">done</mat-icon>
                                <mat-icon *ngIf="step.status == 0">error</mat-icon>
                            </div>
                            <div *ngIf="(i+1) < stepperConfig.steps.length" class="my-step-separator"></div>
                        </ng-container>
                    </div>
                    
                </div>

                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container">
                    <div class="data-table-container">
                        <table #dataTable mat-table [dataSource]="dataSource" class="data-table" matSort>
                            <!-- ID Column
                            <ng-container matColumnDef="clues">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="xs"> Unidad Medica </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="xs"> ({{row.clues.id}}) - {{row.clues.nombre}} </td>
                            </ng-container> -->
                    
                            <!-- nombre completo Column -->
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                                <td mat-cell *matCellDef="let row">
                                    <b>{{row.measurement_type}}</b>
                                </td>
                            </ng-container>

                            <!-- procedencia column -->
                            <ng-container matColumnDef="date_start">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="xs"> Fecha de inicio </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="xs"> {{row.date_start}} </td>
                            </ng-container>

                            <ng-container matColumnDef="month_measurement">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="xs"> Mes de medición </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="xs"> {{row.month_measurement}} </td>
                            </ng-container>

                            <ng-container matColumnDef="is_active">
                                <th mat-header-cell *matHeaderCellDef >Estatus</th>
                                <td mat-cell *matCellDef="let row; let i = index" >
                                    <b  *ngIf="row.is_active == 1" > Activo</b>
                                    <b  *ngIf="row.is_active == 0" > Terminado</b>
                                </td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="seguimiento">
                                <th mat-header-cell *matHeaderCellDef style="width: 115px;">Seguimento Ambulatorio</th>
                                <td mat-cell *matCellDef="let row" >
                                    <button  *ngIf="row.ultima_atencion != null && row.ultima_atencion.esAmbulatoria == 1 && row.ultima_atencion.dadodeAlta == 0" mat-stroked-button color="primary" (click)="openDialogFormSeguimiento(row.id)"  matTooltip="Generar Seguimiento Ambulatorio"><mat-icon>accessible_forward</mat-icon></button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="alta">
                                <th mat-header-cell *matHeaderCellDef style="width: 115px;">Alta/Egreso Ambulatorio</th>
                                <td mat-cell *matCellDef="let row">
                                    <button *ngIf="row.ultima_atencion != null && row.ultima_atencion.esAmbulatoria == 1 && row.ultima_atencion.dadodeAlta == 0"  mat-stroked-button color="primary" (click)="openDialogFormAlta(row.id)"  matTooltip="Generar Alta/Egreso Ambulatorio"><mat-icon>hail</mat-icon></button>
                                </td>
                            </ng-container> -->

                            <ng-container matColumnDef="options" >
                                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <!--<button mat-stroked-button color="primary" matTooltip="Editar Trabajador" (click)="editTrabajador(i)" routerLink="/trabajadores/editar/{{row.id}}"><mat-icon>edit</mat-icon></button>&nbsp;-->
                                    
                                    <button mat-button mat-stroked-button [matMenuTriggerFor]="menu" *ngIf="row.is_active == 1">Opciones</button>
                                    <mat-menu #menu="matMenu">
                                        <!-- <button mat-menu-item color="primary" routerLink = "/ingresos/editar/{{row.id}}" matTooltip="Continuar medición"><mat-icon>edit</mat-icon>Continuar medición</button> -->
                                        <button mat-menu-item color="primary" routerLink = "/calidad/questions/{{row.id}}" matTooltip="Continuar medición"><mat-icon>edit</mat-icon>Continuar medición</button>
                                    </mat-menu>
                                    
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td class="size-search" mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row [ngClass]="{'selected-item': i==selectedItemIndex}" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="no-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator pageSize="20" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadCalidadData($event)"></mat-paginator>
                </div>



            </mat-card>
        </section>
    </div>
</section>