.form-container {
    position: relative;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding:10px;
}

.mat-form-field{
    width: 100%;
}

.form-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

.form-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container > * {
    width: 100%;
}

.eit-right-align {
    text-align: right;
}

.form-text-center {

    text-align: center;

}

input.eit-right-align::-webkit-outer-spin-button,
input.eit-right-align::-webkit-inner-spin-button {
    display: none;
}

input.eit-right-align {
    -moz-appearance: textfield;
}

.permissions-list{
    overflow: auto;
    height: 250px;
}

.formulario-radio-button {
    margin: 5px;
}

.uppercase{
    text-transform: uppercase;
}

.ambulatorio{
    color: #d32f2f;
}

.hospitalizado{
    color: #2e7b32;
}

.mat-card-embarazo {
    box-shadow: 0px 0px 10px 0px #9b9b9b,
        0 1px 1px 0 #9b9b9b,
        0 1px 3px 0 #9b9b9b;
}