<!-- <div class="container">
  <form [formGroup]="updatePwd" (ngSubmit)="onSubmit()">
    <h3>Change Password</h3>

    <div *ngIf="errors?.error" class="alert alert-danger mt-3">
      {{ errors?.error }}
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

    <div class="form-group">
      <label>Nuevo Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>

    <div class="form-group">
      <label>Confirmar Password</label>
      <input type="password" class="form-control" formControlName="password_confirmation">
    </div>

    <button type="submit" class="btn btn-success">Actualizar Password</button>
  </form>
</div> -->

<section class="form-container; update-pass" fxLayout fxLayoutAlign="center center" >

  <div class="form-loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <div fxLayout fxLayoutAlign="center center">

    <mat-card fxFlex.xs="100%" fxFlex="500px">
      <mat-card-title fxLayoutAlign="center"></mat-card-title>
      <mat-card-content fxLayout="column" fxLayout fxLayoutAlign="center center">
  
        <form [formGroup]="updatePwd">
  
          <h1 style="font-weight: bold;" fxLayoutAlign="center">Actualizar Contraseña:</h1>
  
          <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
  
            <mat-form-field fxFlex appearance="outline">
  
              <mat-label>Email:</mat-label>
                <input matInput type="email" class="form-control" formControlName="email">
  
                <mat-icon matSuffix>email</mat-icon>

                <mat-error *ngIf="updatePwd.get('email').invalid && (updatePwd.get('email').dirty || updatePwd.get('email').touched)">
                    <span *ngIf="updatePwd.get('email').errors.required">El campo es obligatorio y debe ser un Correo Electrónico.</span>
                </mat-error>
  
            </mat-form-field>
  
          </div>

          <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

            <mat-form-field fxFlex appearance="outline">
  
              <mat-label>Nueva Contraseña:</mat-label>
                <!-- <input matInput type="password" class="form-control" formControlName="password"> -->
                <input matInput placeholder="Contraseña" [type]="hidePassword ? 'password' : 'text'" cdkFocusInitial formControlName="password">

                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'lock' : 'lock_open'}}</mat-icon>
                </button>

                <mat-error *ngIf="updatePwd.get('password').invalid && (updatePwd.get('password').dirty || updatePwd.get('password').touched)">
                  <span *ngIf="updatePwd.get('password').errors.required">La nueva Contraseña es obligatoria.</span>
                </mat-error>
  
            </mat-form-field>
  
            <mat-form-field fxFlex appearance="outline">
  
              <mat-label>Confirmar Contraseña:</mat-label>
                <!-- <input matInput type="password" class="form-control" formControlName="password_confirmation"> -->
                <input matInput placeholder="Confirmar Contraseña" [type]="hidePasswordConfirm ? 'password' : 'text'" cdkFocusInitial formControlName="password_confirmation">

                <button mat-icon-button matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordConfirm">
                  <mat-icon>{{hidePasswordConfirm ? 'vpn_key' : 'lock_open'}}</mat-icon>
                </button>

                <mat-error *ngIf="updatePwd.get('password_confirmation').invalid && (updatePwd.get('password_confirmation').dirty || updatePwd.get('password_confirmation').touched)">
                  <span *ngIf="updatePwd.get('password_confirmation').errors.required">La Confirmación de la nueva Contraseña es obligatoria.</span>
                </mat-error>
  
  
            </mat-form-field>


          </div>

          <br>
          <div fxLayoutAlign="center">
  
            <button fxFlex="300px" (click)='updatePassword()' mat-raised-button color="primary" [disabled]="!updatePwd.valid || isLoading">Actualizar Contraseña  <mat-icon matSuffix>password</mat-icon></button>
  
          </div>
      
      
        </form>
  
      </mat-card-content>
  
      <mat-card-actions fxLayout="column" fxAlignItems="center" fxLayoutGap="10px">
        <!-- <a mat-button routerLink="/">Regresar para iniciar sesión</a> -->
      </mat-card-actions>

    </mat-card>
  </div>

</section>
