<!-- <div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <h3>Cambiar contraseña</h3>

    <div *ngIf="err != null" class="alert alert-danger mt-2">
      {{ err }}
    </div>

    <div *ngIf="msg != null" class="alert alert-success mt-2">
      {{ msg?.message }}
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

    <button type="submit" class="btn btn-primary">
      Cambiar mi contraseña
    </button>

  </form>
</div> -->

<section class="form-container; reset-pass" fxLayout fxLayoutAlign="center center" >

  <div class="form-loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <div fxLayout fxLayoutAlign="center center">

    <mat-card fxFlex.xs="100%" fxFlex="500px">
      <mat-card-title fxLayoutAlign="center"></mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
  
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  
          <h1 style="font-weight: bold;" fxLayoutAlign="center">Cambiar Contraseña:</h1>
  
          <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
  
            <mat-form-field fxFlex appearance="outline">
  
              <mat-label>Email:</mat-label>
                <input matInput type="email" class="form-control" formControlName="email">
  
                <mat-icon matSuffix>email</mat-icon>
  
                <mat-error *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)">
                  <span *ngIf="myForm.get('email').errors.required">El campo es obligatorio y debe ser un Correo Electrónico.</span>
                </mat-error>
  
            </mat-form-field>
  
          </div>

          <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

            <!-- <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              formControlName="validCaptcha">
            </ngx-recaptcha2> -->


          </div>

          <br>
          <div fxLayoutAlign="center">
  
            <button fxFlex="300px" type="submit" mat-raised-button color="primary" [disabled]="!myForm.valid || isLoading">Enviar  <mat-icon matSuffix>send</mat-icon></button>
  
          </div>
      
      
        </form>
  
      </mat-card-content>
  
      <mat-card-actions fxLayout="column" fxAlignItems="center" fxLayoutGap="10px">
        <a mat-button routerLink="/" style='color:blue'>Regresar al Login</a>
      </mat-card-actions>
    </mat-card>
  </div>

</section>

